body {
    background: rgb(39, 43, 48);
    color: black;
}
#body {
    background: #FFFFFF;
    padding-top: 10px;
}
caption {
    background: #3E91BD !important;
    font-size: 20px;
    padding-left: 8px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 1px 0px 5px 0px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #858585;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #FFFFFF;
}
.CollapsiblePanelContent a {
    line-height: 18px;
    font-size: 13px;
    color: black !important;
    font-weight: bold;
}